.radar-container {
  height: 95vw;
  max-height: 92vh;
  transition: height 1s;
  display: flex;
}

.radar-container svg {
  width: auto;
  height: 100%;
  margin: auto;
}

.radar__dot {
  transition: transform 1s;
}

.radar__dot__label {
  fill: #555;
  transform: translate(-3px, 25px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
}

.radar__segment-axis {
  transition: all 1s;
}

.radar__segment__path {
  transition: transform 1s, d 1s;
  transform-origin: 500px 500px;
}

.radar__ring {
  transition: r 0.5s;
}
